<div todoStyle class="card mb-3" [ngClass]="getClass(item?.priority)">
  <div class="card-header d-flex justify-content-between">
    <div>{{ item?.name }}</div>
    <div>
      <span (click)="editTask(item)" class="oi oi-pencil mr-3 text-info"></span>
      <span
        (click)="deleteTask(item?.id)"
        class="oi oi-trash text-danger"
      ></span>
    </div>
  </div>
  <div class="card-body">
    <div>{{ item?.description }}</div>
    <!-- <div *ngFor="let emp of employees | listFilter">
      <div>{{ emp.name }}</div>
    </div>

    <button (click)="addEmployee()">Add Employee</button> -->
  </div>
</div>
